html {
    display: flex;
    justify-content: center;
    background-color: black;
    font-family: "Orbitron";
    padding: 2rem;
}

@media (hover: hover) {
    a:hover {
        color: white;
        transition: 0.5s;
    }
}

#nameheader, #welcomeh1, #navbar, #welcome_intro_text, #links {
    padding-left: 1rem;
}

#nameheader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 3rem;
    padding-left: 1rem;
    padding-bottom: 1rem;
    border-bottom: 2px solid white;
    border-left: 2px solid white;
}

#nameheaderh1, #nameheaderh2a, #nameheaderh2b {
    margin: 0;
    color: white;
    padding: 0.35rem;
}

#welcomeh1, a, #links {
    color: #199515;
}

#navbar {
    top: 0;
    font-size: 20px;
    margin-bottom: 3rem;
}

#welcome_intro_text {
    font-size: 18px;
    color: #199515;
}

#links {
    margin-top: 3rem;
}